# NOTE: This I2P config file must use UTF-8 encoding
i2np.bandwidth.inboundBurstKBytes=21120
i2np.bandwidth.inboundBurstKBytesPerSecond=1056
i2np.bandwidth.inboundKBytesPerSecond=960
i2np.bandwidth.outboundBurstKBytes=8800
i2np.bandwidth.outboundBurstKBytesPerSecond=440
i2np.bandwidth.outboundKBytesPerSecond=400
router.sharePercentage=50
i2cp.disableInterface=true
router.updatePolicy=install
